extends ../layout
block content
	h1 Household
	body
	row
		form(action='/household', method='POST', enctype="multipart/form-data")
			//- input(type='hidden', name='_csrf', value=_csrf)
			h3 Select a household to join:
			for house in households
				.div
					input.with-gap(name='household', value=house._id, type='radio',id=house._id)
					label(for=house._id) #{house.name}

			h5 Upload 5 or more "selfies":
			.form-group(action='#')
				.file-field.input-field
					.btn
						span File
						input(type='file', multiple='', name="selfies")
					.file-path-wrapper
						input.file-path.validate(type='text', placeholder='Upload one or more files')

			button.btn.waves-effect.waves-light(type='submit', name='action')
				| Finish
				i.material-icons.right send
